
button{
    width:80% ;
    height: 150%;
    
  }
  
  
  .ui.floating.dropdown.button.icon{
    background-color: #4c7da0 ;
  }
  
    /* .dropdown {
        
        width: 120% !important;
        padding: 15px;
        
        
    } */
  .ui button{
    background-color: #4c7da0 !important;
    width:100% ;
    height: 150%;
    font-size: 100%;
    
  }
    
  .ui.button {
    font-size: 2rem;
    
  }
  .btn-primary.dropdown-toggle {
    background-color: #140ce6 !important;
  }
  
  .btn{
    padding: 0px;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
  }